* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  animation: bgAnimation infinite 20s;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #b1b1b1;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(85, 0, 255) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-button:hover {
  color: #ccc;
  box-shadow: 0px 0px 10px blue;
  transition: all .5s ease;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-button.edit:hover {
  color: #ccc;
  box-shadow: 0px 0px 10px rgb(0, 195, 255);
  transition: all .5s ease;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(0, 230, 103) 0%,
    rgb(0, 187, 84) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.todo-row-text {
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.delete-icon:hover {
  animation: iconDeleteAnimation 1s infinite;
}

.edit-icon {
  color: #fff;
}

.edit-icon:hover {
  animation: iconEditAnimation infinite 1s;
}

/*ANIMATIONS*/
@keyframes bgAnimation {
  0%{
    background-color: #149fff;
  }
  50% {
    background-color: rgb(0, 111, 190);
  }

  100%{
    background-color: #149fff;
  }
}

@keyframes iconDeleteAnimation{
  0%{
    color: #fff;
  }
  50%{
    color: rgb(255, 175, 175);
  }
  100%{
    color: #fff;
  }
}

@keyframes iconEditAnimation{
  0%{
    color: #fff;
  }
  50%{
    color: rgb(184, 184, 184);
  }
  100%{
    color: #fff;
  }
}

@keyframes bgResponsiveAnimation {
  0%{
    background: #161a2b;
  }
  100%{
    background: #161a2b;
  }
}

/*RESPONSIVE*/
@media (max-width: 600px) {
  *{
    font-size: 26px;
  }

  body {
    animation: bgResponsiveAnimation infinite 1s;
  }

  .delete-icon {
    margin-right: 15px;
  }
}